.goals{
    margin: 80px auto;
    width: 90%;
    display: flex;
}
.goals h2{
    color: #1d4b0b ;
}
.vision{
    margin-left: 40px;
    text-align: center;
}
.values{
    margin-left: 50px;
}
/* ---- media query ---- */
@media (max-width: 850px){
    .goals{
        flex-direction: column;
    }
    .aim{
        flex-basis: 100%;
        margin: 20px;
    }
    .values
    {
        flex-basis: 100%;
        margin: 20px;
    }
    .vision{
        flex-basis: 100%;
        margin: 20px;
    }
}